# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.pro
.ccls-cache
Remembrall-C++/Makefile
Remembrall-C++/.ccls-cache
Remembrall-C++/compile_commands.json
Remembrall-C++/.qmake.stash
Remembrall-C++/json
Remembrall-Electron/dist
Remembrall-Electron/node_modules
Remembrall-Electron/*.json
Remembrall-Electron/README.md
Remembrall-Electron/LICENSE.md
